html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#panel_input, #word, .game {
  display: flex; 
}

#panel_input, #word {
  justify-content: center;
  max-width: 300px;
  flex-wrap: wrap;
}

#word {
  max-width: 400px;
}

.rigth_panel{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.game{
  display: none;
}

.main__title{
  margin-bottom: 1rem;
}

.char {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border: 1px solid black;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  transition: all .4s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  background-color: #fff;
}

.reload{
  margin: .5rem 0;
}

.char:hover {
  background: #a16969;
}

.progress{
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel_input{
  text-align: center;
}

.help {
  max-width: 400px;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main__title{
  text-align: center;
}

.main__buttons{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__button{
  min-width: 256px;
  padding: .5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  background-color: #fff;
}

.main__button:nth-child(2){
  margin-bottom: .5em;
}